# Arquivos do Android Studio/IntelliJ
*.iml
.idea/
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/misc.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# Arquivos específicos de configuração local
local.properties
/local.properties

# Build e saída
/build
/captures
.gradle
.externalNativeBuild
.cxx

# Gradle version catalog (ignorado porque não está em uso)
gradle/libs.versions.toml

# Arquivos do macOS
.DS_Store
